.Red{
float: left;
margin-top: 15px;
margin-right: 2px;
margin-left: 500px;
}
.x1{
    font-size:11px ;
    margin-top: -13px;
    text-align: center;
    margin-left: -85px;
}
.bule{
  margin-top: 28px;
  

  
}

.x2{
    margin-top: 15px;
}
.x3{
    margin-top: 11px;
}
.x4{
border-radius: 50px ;
    padding-left:33px ;
    padding-top:9px ;
    padding-bottom:10PX ;
    padding-right: 35px;

}
.x5{
    border-radius: 50px ;
    padding-left:33px ;
    padding-top:9px ;
    padding-bottom:10PX ;
    padding-right: 35px
}
    
    .ff{
        display: flex;
    }
    .x9{
        margin-top: 8px;
    }
    .q1{
        margin-left:-363px;
        border-radius: 48px;
        padding-left:68px ;
        padding-right:68px ;
        padding-top:11px ;
        padding-bottom: 13px;
        background-color: red;
        color: white;
        margin-top: 142px;
  }
  .ui{
border-bottom: 1px black solid;
margin-top: 4%;
margin-left: 326px;
margin-right: 387px;

  }
  .r1{
    display: flex;
  }
  .r8{
    margin-left:-363px;
    border-radius: 48px;
    padding-left:68px ;
    padding-right:68px ;
    padding-top:11px ;
    padding-bottom: 13px;
    background-color: red;
    color: white;
    margin-top: 129px;
  }
  .t1{
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 250px;
    margin-right:250px ;
    height: 300px;
  }
  .t1{
margin-top: 50px;

  }
  .u8{
    padding: 37px;
    font-size: 21px;
  }

.u9{

    margin-top: -40px;
    font-size: 17px;
}
.i8{
    font-size: -250px;
    margin-top:-27px ;
    margin-left:-192px ;
    margin-right: -7px;
}
.link1{
    margin-left: 15px;
}
.link2{
    margin-left: 15px;
}.link3{
    margin-left: 15px;
}.link4{
    margin-left: 15px;
}
.i8{
    margin-left: 0px;
}
.h1{
    margin-left: 0px;
}
.y1{
border-bottom: 1px black solid;
margin-top: 43px;
margin-right:326Px;
margin-left: 387px;
}
.k1{
    text-align: center;
}
.o7{
    text-align: center;
    margin-top: 32px;
}
.x6{
    margin-left: 397px;
}
.p3{
    text-align: center;
}
.r2{
    margin-left: 377PX;
}